.capitalise-first::first-letter {
  text-transform: uppercase;
}
.text-link,
.text-link:active,
.text-link:hover {
  color: inherit;
  text-decoration: inherit;
}

/* Header */

.header {
  border-bottom: 2px solid lightgray;
}
.header__discount-container {
  height: 3rem;
  background: #a09e7f;
}
.header__discount {
  margin: 0 auto;
  letter-spacing: 1px;
  font-size: 0.75rem;
}
.navbar-top {
  height: 3rem;
  background: #c2bf9a;
}
.navbar-top__text {
  font-size: 0.8rem;
}
.navbar-top__icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.navbar-main {
  background: #fff;
}
.navbar__brand {
  font-size: 1.5rem !important;
  font-family: Georgia;
}

@media screen and (min-width: 768px) {
  .header__discount {
    font-size: 1.15rem;
  }
  .navbar__brand {
    font-size: 2.5rem !important;
  }
  .navbar-top__text {
    font-size: 1.15rem;
  }
  .navbar-top__icon {
    font-size: 1.5rem;
  }
}
/* Promo Banner */

.promo-banner {
  position: relative;
  top: 5rem;
  max-width: 50rem !important;
  height: 60vh;
  opacity: 0.9;
}
.promo-banner__upper {
  background: white;
  height: 27vh;
}
.promo-banner__upper-title {
  margin-top: 2rem !important;
  text-decoration: underline #c50000 solid;
  text-underline-offset: 5px;
}
.promo-banner__mid {
  background: black;
  height: 16vh;
}
.promo-banner__mid span {
  letter-spacing: 1px;
}
.promo-banner__bottom {
  background: white;
  height: 20vh;
}
button.promo-banner__btn {
  background: #c50000;
  border: none;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1.5rem;
}
button.promo-banner__btn:first-child {
  margin-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .promo-banner__upper-title {
    text-underline-offset: 10px;
  }
  button.promo-banner__btn {
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0.75rem 2rem;
  }
  button.promo-banner__btn:first-child {
    margin-left: 0rem;
  }
}

/* Bottom Nav */

.bottom-nav__container {
  background: #1f1f1f;
}
.bottom-nav__ul {
  list-style: none;
  text-decoration: none;
}
.bottom-nav__li-heading {
  font-size: 1.25rem;
}
.bottom-nav__icons {
  font-size: 1.5rem;
}
/* Footer */
.footer {
  background: black;
  height: 3rem;
}
/*FAQ Accordion */
.accordion-button:not(.collapsed) {
  background: rgb(194, 191, 154) !important;
  color: white !important;
}
.accordion-button:hover {
  background: rgb(194, 191, 154) !important;
}
.accordion-body {
  color: #525252 !important;
  letter-spacing: 0.7px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
