.capitalise-first::first-letter {
  text-transform: uppercase;
}
.text-link,
.text-link:active,
.text-link:hover {
  color: inherit;
  text-decoration: inherit;
}

/* Header */

.header {
  border-bottom: 2px solid lightgray;
}
.header__discount-container {
  height: 3rem;
  background: #a09e7f;
}
.header__discount {
  margin: 0 auto;
  letter-spacing: 1px;
  font-size: 0.75rem;
}
.navbar-top {
  height: 3rem;
  background: #c2bf9a;
}
.navbar-top__text {
  font-size: 0.8rem;
}
.navbar-top__icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.navbar-main {
  background: #fff;
}
.navbar__brand {
  font-size: 1.5rem !important;
  font-family: Georgia;
}
.navbar__cart-container {
  position: relative;
}
.navbar__cart-amount {
  position: absolute;
  bottom: 16px;
  left: 14px;
  color: #830000;
}
.navbart__cart-text {
  margin-bottom: 0.4rem;
}
.navbar__cart-icon {
  font-size: 2.25rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .header__discount {
    font-size: 1.15rem;
  }
  .navbar__brand {
    font-size: 2.5rem !important;
  }
  .navbar-top__text {
    font-size: 1.15rem;
  }
  .navbar-top__icon {
    font-size: 1.5rem;
  }
}

/* Promo Banner */

.promo-banner {
  position: relative;
  top: 2.5rem;
  max-width: 50rem !important;
  height: 67vh;
  opacity: 0.9;
}
.promo-banner__upper {
  background: white;
  height: 27vh;
}
.promo-banner__upper-title {
  margin-top: 2rem !important;
  text-decoration: underline #c50000 solid;
  text-underline-offset: 5px;
}
.promo-banner__mid {
  background: black;
  height: 20vh;
}
.promo-banner__mid span {
  letter-spacing: 1px;
}
.promo-banner__bottom {
  background: white;
  height: 20vh;
}
button.promo-banner__btn {
  background: #c50000;
  border: none;
  font-size: 0.75rem;
  margin-right: 0.15rem;
  padding: 0.25rem 0.75rem;
}
button.promo-banner__btn:hover {
  background: #c50000;
}
button.promo-banner__btn:first-child {
  margin-left: 0.5rem;
}
@media screen and (min-width: 375px) {
  button.promo-banner__btn {
    font-size: .75rem;
    margin-right: .5rem;
    padding: 0.75rem 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .promo-banner {
    height: 60vh;
    top: 5rem;
  }
  .promo-banner__upper {
    height: 27vh;
  }
  .promo-banner__mid {
    height: 16vh;
  }
  .promo-banner__upper-title {
    text-underline-offset: 10px;
  }
  button.promo-banner__btn {
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0.75rem 2rem;
  }
  button.promo-banner__btn:first-child {
    margin-left: 0rem;
  }
}

/* Bottom Nav */

.bottom-nav__container {
  background: #1f1f1f;
}
.bottom-nav__ul {
  list-style: none;
  text-decoration: none;
}
.bottom-nav__li-heading {
  font-size: 1.25rem;
}
.bottom-nav__icons {
  font-size: 1.5rem;
}
/* Footer */

.footer {
  background: black;
  height: 3rem;
}

/* Cart Screen */

.cart h1 {
  font-weight: normal;
  font-size: 3rem;
}
.cart h2 {
  text-decoration: none;
}
.cart__continue-link {
  text-decoration: none;
  color: #fa817a;
}
.cart__quantity-container {
  max-height: 2rem;
}
input.cart__quantity-input {
  max-width: 2.25rem;
}
button.cart__remove-btn {
  padding: 0.5rem 0;
  background: white;
  border: none;
  color: #ff1f1f;
  text-decoration: underline;
}
button.cart__remove-btn:hover {
  color: #ff1f1f;
}
button.cart__quantity-btn {
  border: 1px solid lightgray;
}
.cart__subtotal,
.cart__total {
  color: #525252;
}
.cart__total-font {
  font-size: 1.4rem;
}
.cart-checkout {
  color: #525252;
  margin-right: 0.5rem;
}
.cart__checkout-date {
  letter-spacing: 1.5px;
  border-bottom: 1px solid #525252;
}
button.cart__checkout-btn {
  border: none;
  margin: 0 0.5rem;
}
button.cart__checkout-btn,
button.cart__checkout-btn:hover,
button.cart__checkout-btn:active,
button.cart__checkout-btn:focus {
  background: #fa817a;
}
/* Contact Screen */

.contact h1 {
  font-weight: normal;
  font-size: 2.5rem;
}
div.contact form {
  margin: 0 auto;
  width: 90%;
}
.contact button {
  background: #525252;
  width: 100%;
}
@media screen and (min-width: 768px) {
  div.contact form {
    width: 60%;
  }
}

/* Help Screen */

.help h1 {
  font-weight: normal;
  font-size: 2rem;
}
div.help__container {
  width: 90%;
}

.accordion-button:not(.collapsed) {
  background: rgb(194, 191, 154) !important;
  color: white !important;
}
.accordion-button:hover {
  background: rgb(194, 191, 154) !important;
}
.accordion-body {
  color: #525252 !important;
  letter-spacing: 0.7px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
@media screen and (min-width: 768px) {
  .help h1 {
    font-size: 3rem;
  }
  div.help__container {
    width: 60%;
  }
}

/* Order Lookup Screen */

.order-lookup h1 {
  font-weight: normal;
  font-size: 3rem;
}
.order-lookup form {
  margin: 5rem 0;
}
.order-lookup button {
  width: 100%;
  background: #525252;
}

/* Product List Screen */

.product-list h1 {
  font-weight: normal;
  font-size: 3rem;
}
.product-list__container {
  border-bottom: 1px solid #ccc;
  padding: 0 0 1.8rem;
}
.product-list__name {
  font-size: 1.3rem;
  margin-bottom: 0.9rem;
}
.product-list__category {
  color: #666;
  margin-bottom: 0.3rem;
}
.product-list__colour {
  color: #666;
}
.product-list__price {
  font-size: 1.3rem;
}

/* Product Screen */

.product__description,
.product__price,
.product__colour,
.product__size {
  font-weight: 300;
  color: #333;
}
.product__description {
  font-size: 1rem;
}
.product__price {
  font-size: 1.5rem;
}
.product__colour,
.product__size {
  font-size: 1.25rem;
}
.product__colour-item {
  font-weight: 500;
}
button.product__btn {
  border: none;
}
button.product__btn,
button.product__btn:hover,
button.product__btn:active,
button.product__btn:focus {
  background: #fa817a;
}

/* Returns Screen */

div.returns {
  width: 90vw;
}
.returns h1 {
  font-weight: normal;
  font-size: 2.5rem;
  color: #525252;
}
.returns h2 {
  color: #525252;
}
.returns p {
  font-size: 1.15rem;
}
@media screen and (min-width: 768px) {
  div.returns {
    width: 55vw;
  }
}
